<html>
<head>

  <title>APT</title>
  <link rel="icon" type="image/png" href="static/favicon.png"/>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/sitestyle.css">
  <script src="/static/jquery-1.11.1.min.js"></script>

</head>
<body>
  {{header}}
  <br><br><br>
  <div class="container bs-docs-container">
  <div class="bs-docs-section">
    {% if num_patients > 0 %}
      {% for p in patients %}
      <h1>{{p.user.email()}}</h1>
      <a href="/progress?pid={{p.user.user_id()}}">View Progress</a><br>
      <a href="/createTrack?pid={{p.user.user_id()}}">Create New Exercise Plan</a>
      {% endfor %}
    {% endif %}

  </div>
  </div>
  <br><br><br><br>
  {{footer}}

</body>
</html>